* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
*:focus {
  outline: none;
}
:root {
  --text-white: white;
  --text-gainsboro: gainsboro;
  --text-black: black;
  --text-sky-blue: skyblue;
  --soft-dark: rgb(58 59 60);
  --background-color: rgb(48, 47, 47);
}
/* Category */
.division {
  width: 88%;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

/* Trending Articles */
.trending {
  width: 70%;

  color: var(--text-white);
}
.trending-article-header {
  width: 100%;
  display: block;
  margin-top: 40px;
  padding: 50px 5px;
  margin: auto;
  color: var(--text-white);
}

.trending-article-container {
  width: 100%;
}
.larger-article-card {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
}
.larger-article-card img {
  width: 100%;
  height: 400px;
}
.larger-article-card .article-container {
  width: 86%;
  margin: auto;
  color: var(--text-white);
  padding: 20px 25px;
  background-color: var(--background-color);
  margin-top: -100px;
  box-shadow: 0 0 5px rgb(170, 167, 167);
}
.article-container span {
  margin-left: 50px;
}
.article-container a {
  color: var(--text-sky-blue);
}

/* More Articles */
.more-articles-container {
  width: 88%;
  margin: auto;
  color: var(--text-white);
}
.more-articles {
  width: 100%;
  display: flex;
  margin: 50px 0px 0px 0px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.article-card {
  width: 30%;
  height: 600px;
  box-shadow: 0 0 2px var(--text-white);
}
.article-card a {
  color: var(--text-sky-blue);
}
.article-card img {
  width: 100%;
  height: 250px;
}
.article-card .article-content {
  padding: 15px 5px;
}
.see-more-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}
.see-more {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 40px;
  background-color: var(--background-color);
  color: var(--text-white);
  border: none;
}
@media only screen and (max-width: 800px) and (min-width: 550px) {
  .more-articles-container img {
    height: 400px;
  }
}
@media only screen and (max-width: 800px) {
  .division {
    width: 100%;
  }
  .larger-article-card .article-container {
    margin-top: 0px;
    width: 100%;
    padding: 15px 7px;
  }
  .trending {
    width: 100%;
  }
  .more-articles-container {
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
  }
  .more-articles-container h2 {
    margin-left: 5px;
  }
  .article-card {
    width: 100%;
    box-shadow: none;
    border-bottom: 1px solid var(--text-white);
    height: auto;
    padding-bottom: 50px;
  }
}
