* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
:root {
  --text-white: white;
  --text-gainsboro: gainsboro;
  --text-black: black;
  --text-sky-blue: skyblue;
  --soft-dark: rgb(58 59 60);
  --background-color: rgb(48, 47, 47);
}
/* Scrollbar Styles */
body::-webkit-scrollbar {
  width: 7px;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 100px var(--text-black);
}
body::-webkit-scrollbar-thumb {
  background: var(--soft-dark);
  border-radius: 10px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
  font-size: 12px;
  font-weight: bolder;
  color: var(--text-white);
  position: fixed;
  top: 0px;
  z-index: 3;
  padding: 10px 40px;
}
.brand {
  color: var(--text-sky-blue);
}
.menu {
  display: none;
  background: none;
  border: none;
  font-size: 20px;
  color: var(--text-white);
}
.menu:focus {
  outline: none;
}
.nav-list {
  padding: 0px;
}
.nav-list li {
  display: inline-block;
  list-style-type: none;
  width: 80px;
  transition: 1s;
}
.nav-list a {
  color: var(--text-white);
  text-decoration: none;
  transition: 0.6s;
  font-weight: bolder;
}
.middle {
  position: relative;
}

.middle::before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  background: var(--text-sky-blue);
  transition: all 0.45s ease-in-out;
  left: 0;
  bottom: 0;
}
.middle:hover::before {
  transform: scaleX(1);
}

.show-nav {
  display: block !important;
  animation-name: drop-down;
  animation-duration: 2s;
  z-index: 2;
}
@keyframes drop-down {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0x);
  }
}
.intro {
  width: 100%;
  height: 80vh;
  background-color: rgb(43, 41, 41);
  background-size: cover;
  background-position: center center;
  z-index: 0;
  position: relative;
}
.intro::before {
  content: "";
  width: 100%;
  height: 80vh;
  position: absolute;
  z-index: 1;
  opacity: 0.7;
  background-color: var(--background-color);
}
.animate__animated.animate__fadeInLeft {
  --animate-duration: 2s;
}
.intro-content {
  display: flex;
  color: rgb(248, 227, 187);
  height: 400px;
  width: 100%;
  margin: auto;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 100px;
  z-index: 2;
}

.intro-heading {
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
  font-family: sans-serif;
}
.intro-content p {
  font-size: 20px;
  font-weight: 900;
  color: rgb(236, 245, 118);
  font-family: sans-serif;
}
.body-container {
  width: 100%;
  height: 200vh;
  background-color: var(--background-color);
}
@media screen and (max-width: 800px) {
  .intro {
    width: 100%;
    padding: 0px;
  }
  .brand {
    color: var(--text-black) !important;
  }
  header {
    width: 100%;
    margin: auto;
    background: var(--text-gainsboro);
    padding: 15px 10px;
  }
  .brand {
    color: var(--text-black);
  }
  nav {
    padding: 0;
  }
  .nav {
    display: none;
    width: 100%;
  }
  .show-nav li {
    display: block;
    width: 100%;
    background-color: var(--text-gainsboro);
    padding: 10px 10px;
  }
  .middle {
    color: gray !important;
  }
  .menu {
    display: block;
  }
  .menu i {
    color: black;
  }
  .intro-heading {
    font-size: 20px;
  }
  .intro-content p {
    font-size: 15px;
  }
}
