* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
:root {
  --text-white: white;
  --text-gainsboro: gainsboro;
  --text-black: black;
  --text-sky-blue: skyblue;
  --soft-dark: rgb(58 59 60);
  --background-color: rgb(48, 47, 47);
}
/* Scrollbar Styles */
body::-webkit-scrollbar {
  width: 7px;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 100px var(--text-black);
}
body::-webkit-scrollbar-thumb {
  background: var(--soft-dark);
  border-radius: 10px;
}
/* Header and Navigation Bar */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
  font-size: 12px;
  font-weight: bolder;
  color: var(--text-white);
  position: fixed;
  top: 0px;
  z-index: 3;
  padding: 10px 40px;
}
.brand {
  color: var(--text-sky-blue);
}
.menu {
  display: none;
  background: none;
  border: none;
  font-size: 20px;
  color: var(--text-white);
}
.menu:focus {
  outline: none;
}
.nav-list {
  padding: 0px;
}
.nav-list li {
  display: inline-block;
  list-style-type: none;
  width: 80px;
  transition: 1s;
}
.nav-list a {
  color: var(--text-white);
  text-decoration: none;
  transition: 0.6s;
  font-weight: bolder;
}
.middle {
  position: relative;
}

.middle::before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  background: var(--text-sky-blue);
  transition: all 0.45s ease-in-out;
  left: 0;
  bottom: 0;
}
.middle:hover::before {
  transform: scaleX(1);
}
.active {
  text-decoration: underline 3px var(--text-sky-blue) !important;
}
.active:hover::before {
  transform: scale(0) !important;
}
.show-nav {
  display: block !important;
  animation-name: drop-down;
  animation-duration: 2s;
  z-index: 2;
}
@keyframes drop-down {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0x);
  }
}
.intro {
  width: 100%;
  height: 100vh;
  background-color: rgb(43, 41, 41);
  background-size: cover;
  background-position: center center;
  z-index: 0;
  position: relative;
}
.intro::before {
  content: "";
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1;
  opacity: 0.7;
  background-color: var(--background-color);
}
.animate__animated.animate__fadeInLeft {
  --animate-duration: 2s;
}
.intro-content {
  display: flex;
  color: rgb(248, 227, 187);
  height: 400px;
  width: 100%;
  margin: auto;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 100px;
  z-index: 2;
}

.intro-heading {
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
  font-family: sans-serif;
}
.intro-content p {
  font-size: 20px;
  font-weight: 900;
  color: rgb(236, 245, 118);
  font-family: sans-serif;
}

/* Blog Body */

.body-container {
  width: 100%;
  height: auto;
  background-color: var(--background-color);
}
.description {
  width: 75%;
  height: 280px;
  color: var(--text-white);
  margin: auto;
  flex-direction: column;
  padding: 100px 8px 30px 10px;
  text-align: center;
}
.cards-container {
  width: 75%;
  margin: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 0 0 0;
  margin-bottom: 80px;
}
.card {
  width: 30%;
  height: 350px;
  text-align: center;
  background-color: white;
  border-radius: 15px;
  padding-top: 4px;
}
.card img {
  width: 95%;
  margin: auto;
  height: 250px;
}
.card p {
  display: block;
  height: 30px;
  padding: 15px 0px;
  font-size: 20px;
  color: red;
}
.card span {
  color: blue;
  font-size: 20px !important;
}
.content {
  width: 88%;
  height: 350px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-img {
  width: 48%;
  height: 350px;
  padding: 30px 20px;
  border-radius: 20px;
}

.content-img img {
  width: 400px;
  height: 300px;
}
.content-text {
  width: 45%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 60px 0 0;
  color: var(--text-white);
}
.content-right {
  flex-direction: row-reverse;
  text-align: right;
}
.content-right .content-text {
  padding-right: 0px;
}
.content-text a {
  text-decoration: none;
  color: var(--text-sky-blue);
}
.body-container hr {
  background-color: var(--text-white);
  width: 88%;
  display: block;
  margin: auto;
}
.footer {
  width: 100%;
  height: 100px;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-icons-container {
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.footer-text {
  color: var(--text-white);
  margin: 15px 0px;
}
.footer-icon {
  color: white;
  font-size: 35px;
}

@media screen and (max-width: 800px) {
  .intro {
    width: 100%;
    padding: 0px;
    height: 80vh;
  }
  .intro::before {
    height: 80vh !important;
  }
  .brand {
    color: var(--text-black) !important;
  }
  header {
    width: 100%;
    margin: auto;
    background: var(--text-gainsboro);
    padding: 15px 10px;
  }
  .brand {
    color: var(--text-black);
  }
  nav {
    padding: 0;
  }
  .nav {
    display: none;
    width: 100%;
  }
  .show-nav li {
    display: block;
    width: 100%;
    background-color: var(--text-gainsboro);
    padding: 10px 10px;
  }
  .middle {
    color: gray !important;
  }
  .menu {
    display: block;
  }
  .menu i {
    color: black;
  }
  .intro-heading {
    font-size: 20px;
  }
  .intro-content p {
    font-size: 15px;
  }
  .body-container {
    width: 100%;
    height: auto;
  }
  .description {
    width: 100%;
    height: auto;
  }
  .cards-container {
    width: 100%;
    flex-direction: column;
  }
  .card {
    width: 100%;
    margin-bottom: 40px;
    border-radius: 0px;
  }
  .card img {
    max-width: 400px;
    width: 100%;
  }
  .content {
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .content-img {
    max-width: 400px;
    width: 100%;
    padding: 0px 5px 0px 0px;
    height: auto;
  }
  .content-img img {
    width: 100%;
    height: 300px;
  }
  .content-text {
    width: 100%;
    padding: 10px 0px 10px 12px;
    height: auto;
  }
  .content-right {
    text-align: left;
  }
  .body-container hr {
    width: 100%;
  }
}

@media screen and (max-width: 900px) and (min-width: 700px) {
  .content-text h1 {
    text-align: center;
  }
  .content-text p {
    text-align: center;
  }
}
